<div class="--Certificate">
  <h1 class="mb-5">تم ارسال الشهادة الى بريدك الالكتروني</h1>
  <img class="Certificate-image" src="<%= imgURL %>" alt="" />
  <div class="Certificate-download d-grid gap-2 mt-5">
    <a class="btn btn-outline-primary" href="<%= imgURL %>" download="<%= imgURL %>">حمّل الشهادة</a>
  </div>
</div>
